.container {
  margin-left: 43%;
}

h4 {
  margin-left: 5%;
}

#add {
  font-size: 20px;
  padding: 9px;
}

#input-ing,
#input-meal {
  margin: 10px 0px 10px -10px;
  padding: 10px;
}

form input {
    background-color: #f0f0f0;
    border: none;
    font-size: 20px;
    padding: 20px;
}

button {
  margin-top: 20px;
  font-size: 13px;
}
