body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
}
.container {
  margin-left: 43%;
}

h4 {
  margin-left: 5%;
}

#add {
  font-size: 20px;
  padding: 9px;
  border: none;
  background-color: #42f450;
}

#input-ing,
#input-meal {
  margin: 10px 0px 10px -10px;
  padding: 10px;
}

form input {
    background-color: #f0f0f0;
    border: none;
    font-size: 20px;
    padding: 20px;
}

button {
  margin-top: 20px;
  font-size: 13px;
}

/* SIDEBAR */
.s-container {
  background-color: lightblue;
  width: 25%;
  height: 800px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.sidebar-title {
  text-align: center;
}

.planned-list li {
  word-wrap: break-word;
  margin: 10px;
  left: 20;
}
